/* Wildcard general styling to page */

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", sansserif;
    box-sizing: border-box;
    text-align: center;
}

/* Add fortnite background color to style sheet */
body {
    background: #319236;
}

/* LOGIN AND INSTRUCTINS STYLING */
.loginarea {
    background: #4c51f7;
    padding: 30px;
    margin: 100px auto 0;
    border-radius: 5%;
    color: white;
    width: 90%;
    max-width: 600px;
}

.loginarea > h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: #319236 6px solid;
}

#instructions > ol li{
    word-spacing: 5;
    text-align: left;
    font-size: larger;
    color: #white;
    line-height: 200%;
    padding-bottom: 20px;
}

#name {
    width: 200px;
    height: 50px;
    font-size: 1em;
    border: #9d4dbb solid 2px;
}

/* QUIZ AREA STYLING */
#quizbox {
    background: #4c51f7;
    padding: 30px;
    margin: 100px auto 0;
    border-radius: 5%;
    color: white;
    width: 90%;
    max-width: 600px;
}


#quizbox > h1{
    color: white;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: #319236 6px solid;
}

#biologyquiz {
    padding: 20px 0;
}

#biologyquiz > h2{
    font-size: 18px;
    color: #white;
    font-weight: 600;
}

/* add styling of the classes from js file */
/* targeting a class of a class inspired by W3 schools */

.btn.correct{
    background: #319236;
}

.btn.incorrect{
    background: red;
}

/* END OF GAME STYLING */
.endgame {
    background: #4c51f7;
    padding: 30px;
    margin: 100px auto 0;
    border-radius: 5%;
    color: white;
    width: 90%;
    height: 500px;
    max-width: 600px;
    justify-content: space-between;
}

.endgame > h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: #319236 6px solid;
}

.endgame h3 {
    margin-top: 20px;
}

#startagain-btn {
    width: 200px;
    padding: 20px 0px 20px;
}

#home-btn {
    width: 200px;
    padding: 20px 0px 20px;
    background-color: #9d4dbb;
    color: white;
}


/*BUTTONS*/
/* Add styling to answer buttons, use fortnite color palette */
/* Box shadow & pointer inspired by W3 schools */ 
.btn {
    cursor: pointer;
    color: black;
    font-weight: 600;
    width: 100%;
    border: 5px solid ##4c51f7;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* add curve to border of question buttons */
    border-radius: 8px;
}

/* create a hover effect when going over potential answers, & no hover once answer selectd, re-created from W3 schools*/
.btn:hover:not([disabled]) {
    background: #9d4dbb;
    color: white;
    font-size: larger;
}

#next-btn {
    background: #9d4dbb;
    color: white;
    width: 200px;
    border:#f3af19
    font-weight: 500;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 8px;
    /* do not display next buttton till answer is selected */ 
    display: none;
}

#next-btn:hover {
    background: #319236;
    columns: white;
}


.flip-card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding-left: 90px;
  }
  
  .flip-card-inner {
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: #9d4dbb;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #9d4dbb;
    color: white;
    transform: rotateY(180deg);
  }
