/* Wildcard general styling to page */

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", sansserif;
    box-sizing: border-box;
    text-align: center;
}


/* Add fortnite background color to style sheet */

body {
    background: #319236;
}

.quizbox {
    background: #4c51f7;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 5%;
    padding: 30px;
    color: white;
}

.quizbox > h1{
    color: white;
    font-size: 50px;
    font-weight: 500;
    border-bottom:2px solid #319236
    padding-bottom: 20px;
}

.quiz {
    padding: 20px 0;
}

.quiz > h2{
    font-size: 18px;
    color: #319236;
    font-weight: 600;
}

/* Add styling to answer buttons, use fortnite color palette */
/* Box shadow inspired by W3 schools */ 
.btn {
    background: #f3af19;
    color: black;
    font-weight: 450;
    width: 100%;
    border: 5px solid ##4c51f7;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* add curve to border of question buttons */
    border-radius: 8px;
}

