/* Wildcard general styling to page */

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", sansserif;
    box-sizing: border-box;
    text-align: center;
}


/* Add fortnite background color to style sheet */

body {
    background: #319236;
}

.quizbox {
    background: #4c51f7;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 5%;
    padding: 30px;
    color: white;
}

.quizbox h1{
    color: white;
    font-size: 30px;
    font-weight: 500;
    border-bottom:2px solid #319236
    padding-bottom: 20px;
}

.quiz {
    padding: 20px 0;
}